##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Controller"))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/controller"))
##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}controller;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import $!{tableInfo.savePackageName}.domain.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.service.$!{tableInfo.name}Service;
import $!{tableInfo.savePackageName}.util.R;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;
import java.io.Serializable;
import java.util.List;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})表控制层
 *
 * @author $!author
 * @since $!time.currTime()
 */
@RestController
@RequestMapping("$!tool.firstLowerCase($tableInfo.name)")
public class $!{tableName} {

/**
 * 服务对象
 */
@Resource
private $!{tableInfo.name}Service $!tool.firstLowerCase($tableInfo.name)Service;

/**
     * 分页查询所有数据
     */
@GetMapping
public R page(@RequestParam int current,@RequestParam int size){
        Page<$!{tableInfo.name}> page=new Page<>(current,size);
        return R.ok().setData(this.$!{tool.firstLowerCase($tableInfo.name)}Service.page(page));}


/**
 * 通过主键查询单条数据
 */
@GetMapping("{id}")
public R selectOne(@PathVariable Serializable id){
        return R.ok().setData(this.$!{tool.firstLowerCase($tableInfo.name)}Service.getById(id));}

/**
 * 新增数据
 */
@PostMapping
public R save(@RequestBody $!{tableInfo.name} $!tool.firstLowerCase($tableInfo.name)){
        return R.ok().setData(this.$!{tool.firstLowerCase($tableInfo.name)}Service.save($!tool.firstLowerCase($tableInfo.name)));}

/**
 * 修改数据
 */
@PutMapping
public R updateById(@RequestBody $!{tableInfo.name} $!tool.firstLowerCase($tableInfo.name)){
        return R.ok().setData(this.$!{tool.firstLowerCase($tableInfo.name)}Service.updateById($!tool.firstLowerCase($tableInfo.name)));}

/**
 * 单条/批量删除数据
 */
@DeleteMapping
public R delete(@RequestParam List<Long> id){
        return R.ok().setData(this.$!{tool.firstLowerCase($tableInfo.name)}Service.removeByIds(id));}
        }
