##引入宏定义
$!{define.vm}

##使用宏定义设置回调（保存位置与文件后缀）
#save("/domain", ".java")

##使用宏定义设置包后缀
#setPackageSuffix("domain")

##使用全局变量实现默认包导入
import com.baomidou.mybatisplus.annotation.*;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.io.Serializable;
import java.util.Date;

##使用宏定义实现类注释信息
#tableComment("实体类")
@Data
@AllArgsConstructor
@NoArgsConstructor
public class $!{tableInfo.name} implements Serializable{
private static final long serialVersionUID= $!tool.serial();
#foreach($column in $tableInfo.pkColumn)
    #if(${column.comment})/**
     * ${column.comment}
     */#end

@TableId(value = "$!{column.obj.name}" , type = IdType.AUTO)
private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end
#foreach($column in $tableInfo.otherColumn)

    #if(${column.comment})/**${column.comment}*/#end
    #if(!($column.name.equals('deleted')||$column.name.equals('updateTime')||$column.name.equals('createTime')))@TableField(value = "$!{column.obj.name}")#end
    #if($column.name.equals('createTime'))
    /** 创建时间 */
    @TableField(value = "$!{column.obj.name}" , fill = FieldFill.INSERT)#end
    #if($column.name.equals('updateTime'))
    /** 修改时间 */
    @TableField(value = "$!{column.obj.name}" , fill = FieldFill.INSERT_UPDATE)#end
    #if($column.name.equals('deleted'))@TableLogic
    #end
private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end
}
