##设置回调
$!callback.setFileName($tool.append("application-prod.yaml"))
$!callback.setSavePath($tool.append($modulePath, "/src/main/resources"))
server:
  port: 8081

swagger:
  enabled: false

CrossOrigin:
  enable: false

spring:
  # 配置文件上传大小限制
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  datasource:
    username: root
    password: root
    # useUnicode是否使用Unicode字符集
    # characterEncoding 当useUnicode设置为true时，指定字符编码
    # serverTimezone 时区
    # allowMultiQueries 是否允许执行多行sql
    # connectTimeout 和数据库服务器建立socket连接时的超时，单位：毫秒，0表示永不超时
    # socketTimeout 操作（读写）超时，单位：毫秒，0表示永不超时
    url: jdbc:mysql://127.0.0.1:3306/database?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true&connectTimeout=60000&socketTimeout=60000
    # 下面为连接池的补充设置，应用到上面所有数据源中
    hikari:
      # 自动提交事务
      auto-commit: true
      # 最小连接数
      minimum-idle: 100
      # 最大连接数
      maximum-pool-size: 500
      # 配置获取连接等待超时的时间
      connection-timeout: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      idle-timeout: 60000
      # 验证连接的查询语句
      connection-test-query: SELECT 1 FROM DUAL

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    # call-setters-on-nulls 参数的作用是查询的某一行某一列为null，是否返回
    call-setters-on-nulls: true
    # 禁用二级缓存
    # cache-enabled: false
    # 一级缓存指定为statement级别 效果为禁用一级缓存
    # local-cache-scope: statement
    # 日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

pagehelper:
  # 默认值 false，当值为true时，pageSize=0或者RowBounds limit=0查询全部结果（相当于没有执行分页查询，但是返回结果仍然是Page类型）
  page-size-zero: false
  # 指定数据库，可以不配置，pagehelper插件会自动检测数据库的类型
  helperDialect: mysql
  # 分页合理化参数默认 false，当该参数设置为true 时，pageNum <= 0 时，默认显示第一页，pageNum 超过 pageSize 时，显示最后一页
  reasonable: false
  # 分页插件会根据查询方法的参数中，自动根据params配置的字段中取值，找到合适的值会自动分页
  supportMethodsArguments: false
  # 为了支持 startPage(Object params) 方法，增加了该参数来配置参数映射，用于从对象中根据属性名取值，可以配置 pageNum,pageSize,count,pageSizeZero,reasonable，不配置映射的用默认值
  params: count=countSql