##设置回调
$!callback.setFileName($tool.append("banner.txt"))
$!callback.setSavePath($tool.append($modulePath, "/src/main/resources"))${AnsiColor.GREEN}
  ▄███████▄    ▄████████    ▄████████    ▄████████     ▄█    █▄      ▄████████  ███     █▄  ███▄▄▄▄      ▄██████▄
  ███    ███   ███    ███   ███    ███   ███    ███   ███    ███     ███    ███ ███     ███ ███▀▀▀▀██▄   ███    ███
  ███    ███   ███    █▀    ███    ███   ███    █▀    ███    ███     ███    █▀  ███     ███ ███    ███   ███    █▀
  ███    ███  ▄███▄▄▄       ███▄▄▄▄██▀   ███         ▄███▄▄▄▄███▄▄  ▄███▄▄▄     ███     ███ ███    ███  ▄███
  █████████▀  ▀███▀▀▀       ███▀▀▀▀█▄    ███        ▀▀███▀▀▀▀███▀  ▀▀███▀▀▀     ███     ███ ███    ███  ▀███  ████▄
  ███          ███    █▄    ███    ███   ███     ▄█   ███    ███     ███    ███ ███     ███ ███    ███   ███    ███
  ███          ███    ███   ███    ███   ███    ███   ███    ███     ███    ███ ███     ███ ███    ███   ███    ███
 ▄███▄         ██████████   ███    ███   ████████▀    ███    █▀      ██████████ █████████▀  ▀██    ██▀   ████████▀
${AnsiStyle.BOLD}${AnsiColor.BRIGHT_MAGENTA}
SPRING BOOT VERSION: ${spring-boot.version}
${AnsiColor.BLACK}${AnsiStyle.NORMAL}