##设置回调
$!callback.setFileName($tool.append("UploadFileObject.java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/mvc/domain"))

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}mvc.domain;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.extern.slf4j.Slf4j;

import java.io.Serializable;
import java.util.Date;

/**
 * 上传文件实体类
 *
 * @author $!author
 * @since $!time.currTime()
 */
@Slf4j
@Data
@AllArgsConstructor
@NoArgsConstructor
@ApiModel("上传文件实体类")
public class UploadFileObject implements Serializable {
    private static final long serialVersionUID = $!tool.serial();

    /**
     * 文件唯一ID
     */
    @ApiModelProperty(value = "文件唯一ID")
    private String fileUUID;

    /**
     * 原始文件名
     */
    @ApiModelProperty(value = "原始文件名")
    private String originalFilename;

    /**
     * 文件的内容类型
     */
    @ApiModelProperty(value = "文件的内容类型")
    private String contentType;

    /**
     * 文件的大小（以字节为单位）
     */
    @ApiModelProperty(value = "文件的大小（以字节为单位）")
    private Long size;

    /**
     * 文件的创建时间
     */
    @ApiModelProperty(value = "文件的创建时间")
    private Date createTime;
}
